name: prod-payos-gohighlevel
on:
  push:
    branches:
      - test
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: move to app
        run: cd applications/ghl-payos-api

      - name: build
        run: yarn ci && yarn run build
        
